<div class="c-spinner">
  <div class="c-spinner__container">
    <div class="c-spinner__container__header">
      <mat-toolbar color="primary" class="c-spinner__container__header__logo">
        <img src="https://www.adidas.es/glass/assets/img/icon-adidas-logo-white.svg" height="100%">
      </mat-toolbar>
    </div>

    <div class="c-spinner__container__body">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Processing...</mat-card-title>
        </mat-card-header>
        <img mat-card-image
          src="https://brand.campaign.adidas.com/Images/football-ss18-predator-history-story-content-hero-image-desktop-l_tcm59-192658.gif?locale=en_SG&device=desktop&version=4"
          alt="Photo of a Shiba Inu">
      </mat-card>
    </div>
  </div>
</div>
